.container {
    /*background-color: aqua;*/
    /* display: block; */
    text-decoration: none;
    padding: 40px;
    margin-top: 50px;

  }

  #cartaZapatillas {
    list-style: none;
    padding-inline-start: 0;
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-gap: 40px;
  }
  .card {
 
    margin:auto;
    margin-top: 30px;

   
    box-sizing: border-box;
    height: 620px;
    width: 740px;
    border-radius: 20px;
    list-style: none;
    padding: 20px 20px;

    background-color: #f4f4f4;
    color: #222;
    text-align: center;
    box-shadow: 15px 15px 5px #03082b44;

    transition: all 0.8s; 
 
  }
  .card-image {
    text-decoration: none;
    height: 500px;
    transition: all 0.8s; 
    object-fit: cover; /* Recorta la imagen sin deformarla */
    object-position: bottom;
  }

  a{
    text-decoration: none;
    margin: 0;
    padding: 50%;
    object-fit: cover;
    padding: 40px;
    margin-top: 50px;


  }
  li{
    text-decoration: none;
  }