.formulario{
    width: 100%;
    height: 600px;
    /* background-color: aquamarine; */
    padding-top: 80px;

    margin: 20px;

}

form{
    height: 200px;
    width: 400px;
    margin: 0px auto;
    /* background-color: red; */
    margin-top: 50px;
    justify-content: center;
    
}

.divInput{
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.divButton{
    text-align: center;
}

button{
    width: 160px;
}

.usuarioNoExiste{
        display: block;
        padding: 10px;
        justify-content: center;
        text-decoration: none;
        background-color: #666;
        color: #d2eef5;
}

p{
    text-align: center;
    font-size: 22px;
    margin-inline: center;
}