
<div class="formulario">
  <form method="get">
    <div class="divInput">
     <input 
     type="email" 
     [(ngModel)]="email" 
     name="email" 
     placeholder="Email" 
     class="form-control">
    </div>
    <div class="divInput">
      <input 
      type="password" 
      [(ngModel)]="password" 
      name="password"
      placeholder="Password" 
      class="form-control">
     </div>
     <div class="divButton">
      <button type="submit"(click)="login()">LOGIN</button >
     </div>
<div>
<a href="/registro" class="btn btn-default">Registrarse</a>
</div>
<div *ngIf ="usuarioNoExiste" class="usuarioNoExiste">
  <p>Error al introducir usuario o contraseña</p>
</div>

  </form>
</div>