<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['']">HOME</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/zapatillas']">ZAPATILLAS</a>
      </li>
      <li *ngIf="user.email.length == 0, else logeado" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">LOGIN</a>
      </li>    
      <ng-template #logeado>
        <li class="nav-item">
            <!-- <button class="nav-link" (click)="logout()" >LOGOUT</button> -->
            <a class="nav-link" href=''>LOGOUT</a>
        </li>
      </ng-template>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']">CONTACTO</a>
      </li>
  </ul>
</nav>

