.appContainer{
    /* height: 600px; */
}

.divTitle{
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: rgb(210, 238, 245);
}

h1{
    font-style: italic;
    font-size: 60px;
}

.divUsuario{

    text-align: center;
    font-weight: bold;
    font-size: larger;
    margin: 10px;
}

a{
    color: #f77307;

}